/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  height: 100vh;
}
.add-box,
.bottom-content,
.settings .menu li,
.popup,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Wrapper */
.wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  gap: 25px;
}

.wrapper li {
  background-color: #ffff;
  height: 250px;
  padding: 15px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.add-box {
  background-color: #ffff;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.add-box .icon {
  height: 78px;
  width: 78px;
  color: #c78ed5;
  font-size: 40px;
  border: 2px dashed #c78ed5;
  justify-content: center;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.add-box p {
  color: #c78ed5;
  margin-top: 2opx;
  font-weight: 500;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note .details {
  max-height: 165px;
  overflow-y: auto;
}

.note p {
  font-size: 22px;
  font-weight: 500;
}

.note span {
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.note .bottom-content span {
  color: #6d6d6d;
  font-size: 14px;
}
.bottom-content .settings {
  position: relative;
}

.bottom-content .settings i {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 15px;
}

.settings .menu {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background-color: #ffff;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.settings.show .menu {
  transform: scale(1);
}

.settings.show .menu li {
  height: 25px;
  font-size: 16px;
  margin-top: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: unset;
  justify-content: flex-start;
}
.show {
  display: block; /* veya visibility: visible; */
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li:hover {
  background-color: #f5f5f5;
}

.menu li i {
  padding-right: 8px;
}

/*popup */
.popup-box,
.popup {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.popup-box.show,
.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup-box .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  width: 100%;
  max-width: 400px;
  justify-content: center;
}

.popup .content {
  background-color: #ffff;
  width: calc(100% -15px);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.content header {
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}

.content header p {
  font-size: 20px;
  font-weight: 500;
}

.content header i {
  color: #8b8989;
  font-size: 23px;
  cursor: pointer;
}

.content form {
  margin: 15px 25px 35px;
}

.content form .row {
  margin-top: 20px;
}

.content form .row label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}

form :where(input, textarea) {
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

form :where(input, textarea):focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}

form .row textarea {
  resize: none;
  height: 150px;
  padding: 8px 15px;
}

form button {
  width: 100%;
  height: 50px;
  color: #ffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  background-color: #c78ed5;
  border-radius: 4px;
}

/* Responsive Tasarım */

@media (max-with: 660px) {
  .wrapper {
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .popup-box .popup {
    max-width: calc(100%-15px);
  }

  .bottom-content .settings i {
    font-size: 17px;
  }
}
